[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
game = "5vaAbpjpAShx3DbxBaxShMY9Vj9RXCXH1H4gWKGzoTHa"

[programs.testnet]
game = "5vaAbpjpAShx3DbxBaxShMY9Vj9RXCXH1H4gWKGzoTHa"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[hooks]
